<div class="rows">
  <nav class="navbar navbar-dark bg-primary">
    <span style="flex: 1 1 auto"></span>
    <div *ngIf="!logged">
      <input type="text" placeholder="UserName" class="register" [(ngModel)]="username">
      <input type="password" placeholder="Password" class="register" [(ngModel)]="password">
      <button type="button" class="btn btn-outline-dark register" (click)="login()">Login</button>
      <button type="button" class="btn btn-outline-dark register" (click)="register()">Register</button>

      <button type="button" class="btn btn-outline-dark register" (click)="logout()">LogOut</button>
    </div>
  </nav>
</div>
