<div class="bg" style="position: absolute;">
  <div style="position: relative ; top: 35%; left:40%">
    <h2 class="err"> {{error}} </h2>
    <h2 class="success"> {{success}} </h2>
    <form #signForm="ngForm">
      <div class="form-group">
        <label class="text">UserName</label>
        <input type="text" class="textbox form-control" placeholder="Enter UserName" 
          [(ngModel)]="model.name" name="name" required>
          
      </div>
      <div class="form-group">
          <label class="text">Password</label>
          <input type="password" class="textbox form-control" placeholder="Enter Password" 
          [(ngModel)]="model.password" name="password" required>
      </div>
      <button (click)="login()" class="btn btn-primary">LOGIN</button>
      <button class="btn btn-primary" (click)="openDialog(content)" style="margin: 50px">SIGNUP</button>
    </form>
  </div>
  
  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Sign UP</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #signForm="ngForm">
              <div class="form-group">
                <label class="text">UserName</label>
                <input type="text" class="textbox form-control" placeholder="Enter UserName" 
                  [(ngModel)]="model.name" name="name" required>
                  
              </div>
              <div class="form-group">
                  <label class="text">Password</label>
                  <input type="password" class="textbox form-control" placeholder="Enter Password" 
                  [(ngModel)]="model.password" name="password" required>
              </div>
              <h2 class="err"> {{error}} </h2>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" style="margin: left;" (click)="c('signup')">Send</button>
      </div>
    </ng-template>

</div>

